body{
    background-color: rgb(82, 82, 228);
    color: white;
}
header{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    position: relative;

}
header img {
    position: absolute;
    width: 59px;
    top: 1px;
    left: 77px;
}

header p {

    position: absolute;
    bottom: 0;;
    left: 0px;
    top: 30px;
    font-family: 'Raleway', sans-serif;
}

header ul{
position: absolute;
bottom: 0;
right: 0;
top: 30px;
font-family: 'Raleway', sans-serif;

}
header ul li{
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin-left: 40px;
    bottom: 30px;
    text-align: center;
    
}
header ul li.selected{
    border-bottom: 4px solid white;
}


#main {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}   
#main img.homer{
    position: relative;
    width: 496px;
    margin: 0 auto;
}   

#main img.fondo{
    position: absolute;
    width: 626px;
    top: 28px;
    opacity: 0.4;

}   


#main form{
    position: absolute;
    width: 379px;
    right: 0;
    top: -34px;
    line-height: 30px;  /*espaciado entre los parrafos*/
    font-size: 25px;
}



#main form input.in{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    background-color: aquamarine;
    font-size: 18px;
    color: red;
    margin: 10px 0 10px 0;
}

#main form input.btn{
display: block;
width: 130px;
height: 60px;
background-color: aqua;
color: blue;
font-size: 25px;
border 1px solid white;
border-radius: 10px;
margin: 10px 0 120px 0;


}